<div>
    <div class="panel-body" style="border-bottom: 2px solid ">
        <a [routerLink]="['/requests/' + requestId + '/info']">
            <p class="lead">{{title}}</p>
        </a>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
            Nội dung : {{description}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
            Trạng thái : {{status}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left fixEfMenu">
            Ngày tạo : {{createdAt}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 fixEfMenu">
            Lĩnh vực : {{knowledgeName}}
        </div>
    </div>
</div>