<br/>
<br/>
<br/>
<br/>

<!--<push-notification #myNotification title="demo notification" icon="https://goo.gl/3eqeiE" body="demo notification">
</push-notification>-->
<div *ngIf="!isExist">
    <div class="row profile">
        <div class="col-md-3">
        </div>
        <div class='col-md-9'>
            <h3>Tài khoản không tồn tại</h3>
        </div>
    </div>
</div>
<div *ngIf="isExist" class="container">
    <div class="row profile">
        <div class="col-md-3">
            <!--<button (click)="myNotification.show()" type="button" class="btn btn danger btn-sm">Demo Show Notification</button>-->
            <user-profile-bar></user-profile-bar>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <!--content of user's wall-->
                <h3>Danh sách yêu cầu đã tạo</h3>
                <div *ngFor="let request of requests">
                    <request-record title="{{request.title}}" requestId="{{request._id}}" description="{{request.description}}" status="{{request.status}}"
                        createdAt="{{request.createdAt}}" knowledgeId="{{request.knowledgeId}}">
                    </request-record>
                </div>
                <!--content of user's wall-->
            </div>
        </div>
    </div>
</div>
<br>
<br>