<br/>
<br/>
<br/>
<br/>

<!--<push-notification #myNotification title="demo notification" icon="https://goo.gl/3eqeiE" body="demo notification">
</push-notification>-->
<div *ngIf="!isExist">
    <div class="row profile">
        <div class="col-md-3">
        </div>
        <div class='col-md-9'>
            <h3>Tài khoản không tồn tại</h3>
        </div>
    </div>
</div>
<div *ngIf="isExist" class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://assets.entrepreneur.com/content/16x9/822/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg"
                        class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{name}}
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <!--<button (click)="myNotification.show()" type="button" class="btn btn danger btn-sm">Demo Show Notification</button>-->
                    <button *ngIf="!checkUser && !checkSentRequestUser && !isFriend" type="button" class="btn btn-success btn-sm" (click)="addFriend()">Thêm bạn</button>
                    <button *ngIf="checkSentRequestUser" (click)="deleteFriend()" type="button" class="btn btn-success btn-sm">Đã gửi kết bạn</button>
                    <button *ngIf="!checkUser && isFriend" (click)="deleteFriend()" type="button" class="btn btn-success btn-sm">Đã là bạn bè</button>
                    <button *ngIf="!checkUser" type="button" class="btn btn-danger btn-sm">Gửi tin nhắn</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->

                <div class="profile-usermenu" *ngIf="userProfile">
                    <ul class="nav">
                        <li>
                            Tên: {{userProfile.displayName}}
                        </li><br/>
                        <li>
                            Email: {{userProfile.email}}
                        </li><br/>
                        <li>
                            Cấp độ: {{userProfile.level}}
                        </li><br/>
                    </ul>
                </div>

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i> Tổng quan </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i> Thiết lập tài khoản </a>
                        </li>
                        <li>
                            <a [routerLink]="['/user/'+name+'/friends/']">
                                <i class="glyphicon glyphicon-ok"></i> Bạn bè </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i> Trợ giúp </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <!--content of user's wall-->
                <h3>Danh sách yêu cầu đã tạo</h3>
                <div *ngFor="let request of requests">
                    <request-record title="{{request.title}}" requestId="{{request._id}}" description="{{request.description}}" status="{{request.status}}"
                        createdAt="{{request.createdAt}}" knowledgeId="{{request.knowledgeId}}">
                    </request-record>
                </div>
                <!--content of user's wall-->
            </div>
        </div>
    </div>
</div>
<br>
<br>