<br>
<br>
<br>
<br>
<div class="body-rq-page" id="sb-site">

  <div class="container">
    <div class="col-xs-12 col-sm-9 fixEfMenu">
      <div id="remotesVideos" class="panel panel-default kspace card-rq">
      </div>
    </div>
    <!-- chat box -->
    <div class="col-xs-12 col-sm-3 bg-white fixEfMenu">
      <video id="localVideo"></video>
      <!--<chat [chatRoomId]="chatRoomId"></chat>-->
      <!--<button id="fuck">Fuck</button>-->
      <button id="sharescreen"> {{sharescrbtn}} </button>
    </div>
  </div>
</div>
