<!-- Body -->
<a name="about"></a>
<div class="intro-header">
  <header></header>
  <div class="container">
    <div class="row">
      <div class="showInfoFace">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="intro-message">
            <h1>KShare</h1>
            <h3 id="ms">Knowledge is of no value unless you put it into practice</h3>
            <h3 id="ms">Knowledge is having the right answer</h3>
            <h3 id="ms">Intelligence is asking the right question</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->
<!--strong points-->
<br>
<div class="strong-point">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4 col-sm-6 text-center">
        <div class="center promo promo-example">
          <i class="fa fa-smile-o fa-4x"></i>
          <h4 class="promo-caption">Thân thiện với mọi người</h4>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6 text-center">
        <div class="center promo promo-example">
          <i class="fa fa-money fa-4x"></i>
          <h4 class="promo-caption">Thanh toán tiện lợi</h4>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6 text-center">
        <div class="center promo promo-example">
          <i class="fa fa-bar-chart fa-4x"></i>
          <h4 class="promo-caption">Chức năng hiện đại</h4>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
      </div>
    </div>
  </div>
</div>
