<!-- Footer -->
<footer class="ftclass">
  <div class="container" >
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; KUSN 2016. All Rights Reserved</p>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-primary"><i class="fa fa-facebook-square fa-2x"></i> Facebook</a>
          <a href="#" class="btn btn-primary"><i class="fa fa-twitter-square fa-2x"></i> twitter</a>
          <a href="#" class="btn btn-primary"><i class="fa fa-linkedin-square fa-2x"></i> linkedin</a>
        </div>
      </div>
    </div>
  </div>
</footer>
