<div class="col-xs-12 col-sm-3 bg-white fixEfMenu" >
  <!-- =============================================================== -->
  <!-- Friends list -->
  <ul class="friend-list" style="margin-left:-52px">
    <li class="active bounceInDown">
      <a class="clearfix">
        <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
        <div class="friend-name">
          <strong>Trần Dương</strong>
        </div>
        <div class="last-message text-muted">Hello, Are you there?</div>
        <small class="time text-muted">Just now</small>
        <small class="chat-alert label label-danger">1</small>
      </a>
    </li>
    <li>
      <a class="clearfix">
        <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
        <div class="friend-name">
          <strong>Hoàng Giang</strong>
        </div>
        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
        <small class="time text-muted">5 mins ago</small>
        <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
      </a>
    </li>
    <li>
      <a class="clearfix">
        <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
        <div class="friend-name">
          <strong>Mạnh Long</strong>
        </div>
        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
        <small class="time text-muted">5 mins ago</small>
        <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
      </a>
    </li>
  </ul>
</div>