<div class="navbar-header-common">
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand topnav" href="#">UKSN Logo</a>-->
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand topnav" [routerLink]="['/']">Kshare.xyz</a>
        <ul class="nav navbar-nav navbar-right" *ngIf="userToken">
          <li>
            <a [routerLink]="['/kspace']" class="pd-bot-0"
            ><i class="fa fa-television" aria-hidden="true"></i></a>
          </li>
          <li>
            <a [routerLink]="['/']" class="pd-bot-0" ><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
          </li>
          <li>
            <a [routerLink]="['/requests']" class="pd-bot-0" ><i class="fa fa-comments-o"
                                                                        aria-hidden="true"></i></a>
          </li>
          <li>
            <button class="btn btn-success btLogin" (click)="logout()">Logout</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!userToken">
          <li>
            <a [routerLink]="['/kspace']" class="pd-bot-0" >Giới thiệu </a>
          </li>
          <li>
            <a [routerLink]="['/kspace']" class="pd-bot-0" >Trải nghiệm Kspace </a>
          </li>
          <li>
            <button class="btn btn-success btLogin" id="btnShowLogin" data-toggle="modal"
                    data-target="#modalLogin">Login</button>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>
